@import "tailwindcss";

@theme {
  --color-primary: #5048e5;
  --color-primary-dark: #3e37b8;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;

  --font-display: "Plus Jakarta Sans", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

@utility dot-pattern {
  background-image: radial-gradient(rgba(100, 116, 139, 0.2) 0.7px, transparent 0.7px);
  @variant dark {
    background-image: radial-gradient(rgba(148, 163, 184, 0.15) 0.7px, transparent 0.7px);
  }
}

@utility bg-dots {
  background-size: 20px 20px;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-display);
}
